html {
  font-size: 16px;
}

ul {
  display: flex;
}

.banner {
  display: flex;
  height: 64px;
}

.tagline {
  display: flex;
}

.tagline img {
  width: 60%;
  margin: 32px 24px;
}

.practice {
  display: flex;
}

.byte {
  display: flex;
}

.courses {
  display: flex;
}

.thesis {
  display: flex;
}

footer {
  display: flex;
}
